@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

.box{
    background-color:white;
    text-emphasis: justify;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    height: auto;
    border-radius: 1em;
    color: rgb(94, 92, 92);
    margin: 5em;
     
}

img{
    width: 100%;
    height: auto;
    border-radius: 1em 1em 0 0;
}

    
.icon{
    width: 3.5em;
    height: 3.5em;
    padding: 2em 1em 0 0;
}


.highlight1{
background-color: rgb(255, 254, 254);
padding: 0 0 0 3em;
border-bottom: 0.1em solid rgb(189, 189, 189);
}

.highlight2{
    background-color: rgb(255, 255, 255);
    padding: 0 0 0 3em;
    border-bottom: 0.1em solid rgb(189, 189, 189);
}


.howmany{
    background-color: white;
    color: black;
    font-weight: 700;
}

.highlight3{
    background-color: white;
    padding: 0 0 2em 3em;
    margin-top: 0em;

}
.highlight4{
    background-color:white ;
    padding: 0 0 2em 0;
    border-radius: 1em;
   }

.room{
    padding: 0em;
}


h1{ 
    font-family: Roboto, sans-serif;
    font-size: 1em;
    font-weight: 500;
}
h2{
    font-family: Roboto, sans-serif;
    font-size: 2em;
    font-weight: 500;
 
}

h3{
    font-family: Roboto, sans-serif;
    font-size: 1em;
    font-weight: 500;
}

p{
    font-family: Roboto, sans-serif;
    font-size: 1em;
    font-weight: 500;
}

h4{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 700;
    

}

.btn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 500;
    padding: 0 0 1em 18em;
    color:red;
    
}
body{
    background-color: #eeeeee;
}

